body {
    margin: 0;
    background-image: url(sesamestreet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @keyframes wave {
    from {transform: rotateZ(40deg);}
    to {transform: rotateZ(50deg);}
  }
  #hello {
    position: relative;
    left: 30px;
    bottom: 40px;
    box-shadow: 0px 10px 14px -7px #276873;
    background:white;
    border: none;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color: red;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    padding:11px 32px;
    text-decoration:none;
  }
  #hello:hover {
    background: red;
    color: white;
  }
  #hello:active {
    position:relative;
    bottom: 37px;
  }
  #container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
  }
  .item {
    width: 200px;
    height: 300px;
    padding-bottom: 60px;
  }
  #head {
    width: 100px;
    height: 80px;
    background: red;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 50px;
    }
  #eye-left {
    background: white;
    border-radius: 100%;
    height: 23px;
    width: 23px;
    position: absolute;
    top: -10px;
    left: 27px;
  }
  #eye-ball-left {
    background: black;
    border: solid 1px;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
  }
  #eye-right {
    background: white;
    border-radius: 100%;
    height: 23px;
    width: 23px;
    position: absolute;
    top: -10px;
    left: 51px;
  }
  #eye-ball-right {
    background: black;
    border: solid 1px;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  #nose {
    background: orange;
    height: 32px;
    width: 27px;
    border-radius: 100%;
    position: absolute;
    left: 37px;
    top: 7px;
  }
  #mouth {
    width: 66px;
    height: 30px;
    background: black;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    position: absolute;
    top: 43px;
    left: 18px;
    z-index: 2;
  }
  #body {
    width: 90px;
    height: 110px;
    background: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    left: 55px;
    z-index: 1;
  }
  #left-side {
    border: solid;
    }

  #left-arm {
    width: 20px;
    height: 100px;
    background: red;
    transform: rotateZ(-40deg);
    transform-origin: bottom right;
    position: absolute;
    bottom: 80px;
    left: 10px;
  }
  #right-arm {
    width: 20px;
    height: 100px;
    background: red;
    transform: rotateZ(40deg);
    transform-origin: bottom right;
    position: absolute;
    bottom: 68px;
    left: 55px;
    animation-name: wave;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  }
  #left-hand {
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
    border-radius: 100%;
    bottom: 90px;
    right: -6px;
  }
  #left-finger-1 {
    width: 13px;
    height: 23px;
    border-radius: 40%;
    background: red;
    position: absolute;
    bottom: 14px;
    right: 25px;
    transform: rotate(-30deg);
  }
  #left-finger-2 {
    width: 13px;
    height: 23px;
    border-radius: 40%;
    background: red;
    position: absolute;
    bottom: 24px;
    right: 14px;
    transform: rotate(0deg);
  }
  #left-finger-3 {
    width: 13px;
    height: 23px;
    border-radius: 40%;
    background: red;
    position: absolute;
    bottom: 22px;
    right: 0px;
    transform: rotate(30deg);
  }
  #left-finger-4 {
    width: 13px;
    height: 23px;
    border-radius: 40%;
    background: red;
    position: absolute;
    bottom: 10px;
    left: 26px;
    transform: rotate(60deg);
  }
  #right-hand {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: red;
    position: absolute;
    left: -6px;
    bottom: 90px;
  }
  #right-finger-1 {
    width: 13px;
    height: 23px;
    border-radius: 40%;
    background: red;
    position: absolute;
    bottom: 8px;
    right: 26px;
    transform: rotate(-60deg);
  }
  #right-finger-2 {
    width: 13px;
    height: 23px;
    border-radius: 40%;
    background: red;
    position: absolute;
    bottom: 20px;
    right: 18px;
    transform: rotate(-30deg);
  }
  #right-finger-3 {
    width: 13px;
    height: 23px;
    border-radius: 40%;
    background: red;
    position: absolute;
    bottom: 22px;
    right: 4px;
    transform: rotate(0deg);
  }
  #right-finger-4 {
    width: 13px;
    height: 23px;
    border-radius: 40%;
    background: red;
    position: absolute;
    bottom: 15px;
    left: 23px;
    transform: rotate(30deg);
  }
  #lower-body {
    height: 110px;
    position: relative;
    top: 0;
  }
  #left-leg {
    height: 90px;
    width: 33px;
    background: red;
    position: absolute;
    left: 65px;
    top: -20px;
  }
  #right-leg {
    height: 90px;
    width: 33px;
    background: red;
    position: absolute;
    left: 103px;
    top: -20px;
  }
  #left-foot {
    height: 30px;
    width: 50px;
    border-radius: 10px;
    background: red;
    position: absolute;
    left: 49px;
    bottom: 15px;
    transform: rotate(-5deg);
  }
  #right-foot {
    height: 30px;
    width: 50px;
    border-radius: 10px;
    background: red;
    position: absolute;
    left: 102px;
    bottom: 15px;
    transform: rotate(5deg);
  }